header {
  padding: 10px 0;
}

.align-center {
  align-items: center;
}

.border-less {
  border: none;
}

.justify-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  h1, h3 {
    text-align: center;
  }
  .container {
    width: 100%;
  }
}
